<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamtrout.swen302.ticketdroid"
    android:versionCode="1"
    android:versionName="1.0" >


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="teamtrout.swen302.ticketdroid.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="teamtrout.swen302.ticketdroid.LandingPage"
            android:label="@string/title_activity_landing_page" >


        </activity>
        <activity
            android:name="teamtrout.swen302.ticketdroid.LoginPage"
            android:label="@string/title_activity_login_page" >
        </activity>
        <activity
            android:name="teamtrout.swen302.ticketdroid.RegisterPage"
            android:label="@string/title_activity_register_page" >
        </activity>
        <activity
            android:name="teamtrout.swen302.ticketdroid.TicketPageMain"
            android:label="@string/title_activity_ticket_list_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".QrPage" android:label="QrPage">

        </activity>
    </application>


</manifest>
